 <div class="media reply-list">


    <% comment.replies.each do |reply| %>
      <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
      </a>
      <div class="media-body">
          <h4 class="media-heading"><%= reply.name %>
              <small><%= reply.created_at.to_s(:db) %></small>
          </h4>
          <%= reply.reply %>
      </div>
      <br>
    <% end %>
</div>