 <div class="media reply-list">


    <% comment.replies.each do |reply| %>
      <a class="pull-left" href="#">
        <%= image_tag user_image(User.find_by(name: reply.name)), class: "media-object" %>
      </a>
      <div class="media-body">
          <h4 class="media-heading"><%= reply.name %>
              <small><%= reply.created_at.to_s(:db) %></small>
          </h4>
          <%= reply.reply %>
      </div>
      <br>
    <% end %>
</div>