<%= form_for @reply, url: post_comment_replies_path(@post, comment), html: { class: 'form-inline reply-form'} do |f|%>
  <div class="form-group">
    <%= f.hidden_field :name, value: current_user.name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label class="sr-only">留言</label>
    <%= f.text_area :reply, placeHolder: '輸入留言', rows: '1', class: 'form-control' %>
    <%= f.submit class: 'btn btn-default btn-sm' %>
    </div>
<% end %>