<div class="comment-list panel panel-info">
  <% @post.comments.each do |comment| %>
    <p class="panel-heading"><%= comment.name %></p>
    <p class="panel-body"><%= comment.comment %> <%= link_to '刪除留言', post_comment_path(comment.post, comment), method: :delete, data: {confirm: "確定要刪除?"},class: 'pull-right' %></p>
  <% end %>
</div>