<div class="modal-content">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel">新增回應</h3>
  </div>
   <div class="modal-body well">
     <%= form_for [@game, @review] do |f|%>
      <%= f.hidden_field :name, value: current_user.name == nil ? current_user.email : current_user.name %>
      
     

      <div class="form-group">
        <%= f.text_area :comment, required: true, class: 'form-control', rows: "5", placeholder: "請輸入回應...." %>
      </div>

      <%= f.submit "送出", class: "btn btn-primary" %>
     <% end %>
   </div>
   <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
   </div>
  </div>
</div