<h1>Game List</h1>
<div class="row">
  <% @games.each do |game| %>
  <div class="col-md-3">
    <div class="thumbail">
      <%= link_to (image_tag game.image, class: "image img-responsive") unless game.image.blank? %>
    </div>
    </div>
  <% end %>
</div>