<h1>Game List</h1>
<div class="row">
  <% @games.each do |game| %>
    <div class="col-sm-2 thumb game-list">
      <%= link_to (image_tag game.image.thumb.url, class: "image img-responsive"), game_path(game) unless game.image.blank? %>
      <p class="text-left"><%= link_to game.title, game_path(game) %></p>
      <p><div class="star-rating text-left" data-score=<%= game.rating %>> </div></p>
    </div>
  <% end %>

</div>