<h1>About Telsa</h1>
<img src="https://s3-ap-northeast-1.amazonaws.com/telsa/uploads/2015-08-28_202320561.jpg" alt="me"style="width:300px;height:400px"><br>
<span>因為不想再繼續當測試,加上前公司正好碰到問題開始重新學程式,最後因為喜歡lang8這個網站,決定學這個網站也有使用的ruby on rails,然後一切的撞牆就從這裡開始......</span><br>
<p>Email: telsaiori at gamil.com</p>