<div class="calendar_list">
  <h5 id ="calendar_month">
  </h5>
  <%= calendar current_date do |date| %>
    <% date_key = date.strftime %>
    <% if posts_by_date[date_key] %> 
      <%= link_to date.day, posts_path(posts_by_date: date_key) %>
    <% else %>
      <%= date.day%>
    <% end %>
  <% end %>
</div>
